<h2>Remitos</h2>
<form #form="ngForm">
    <div class="form-group inline">
        
        <label for="date">Fecha:</label>
        <ngb-datepicker name="date" [(ngModel)]="date" required></ngb-datepicker>
    </div>
    <button (click)="generar()" [disabled]="!form.valid" class="btn" style="border-color: black;" style="
    background-color: lightsteelblue;">Generar remitos</button>
  <br><br>
<ngb-alert [hidden]="alert" [type]="type" [dismissible]="false">{{ mensaje }}</ngb-alert>
</form>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Fecha Armado</th>
                <th>Entregado</th>
                <th></th>
                <th>Domicilio Entrega</th>
                <th>Altura</th>
                <th>Piso</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let remito of resultsPage.results; index as i">
                <td>{{ remito.id }}</td>
                <td>{{ remito.fechaArmado }}</td>
                <td *ngIf="remito.entregado == true; else other_content">SI</td>
                <td>
                    <ng-template #other_content>NO</ng-template>
                </td>
                <td>{{ remito.domicilioEntrega.calle  }}</td>
                <td>{{ remito.domicilioEntrega.altura  }}</td>
                <td>{{ remito.domicilioEntrega.pisoDpto }}</td>
                <td>{{ remito.domicilioEntrega.localidad.nombre }}</td>
                <th>
                    <a routerLink="/remitos/{{remito.id}}/articulospedido"><i class="fa fa-eye fa-fw"
                            title="Detalle"></i></a>
                </th>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" [hidden]="resultsPage.count <= 1">
        <ul class="pagination pagination-centered">
            <li class="page-item">
                <a class="page-link" (click)="showPage(-2)">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
            </li>
            <li *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
                <a class="page-link" (click)="showPage(t + 1)"> {{t+1}} </a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="showPage(-4)">&raquo;</a>
            </li>
        </ul>
    </nav>
    &nbsp;&nbsp;&nbsp;
</div>