<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
  <persistence-unit name="delivery">
    <jta-data-source>jdbc/labprog-db</jta-data-source>
    
	<class>model.Articulo</class>  
    <class>model.ArticulosPedido</class>
    <class>model.Cliente</class>
    <class>model.DomicilioEntrega</class>
    <class>model.Factura</class>
    <class>model.Localidad</class>  
    <class>model.Pais</class>
    <class>model.Pedido</class>
    <class>model.Provincia</class>
    <class>model.Remito</class>
    
    <properties>
      <property name="eclipselink.target-database" value="DERBY"/>
      <property name="eclipselink.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="eclipselink.jdbc.url" value="jdbc:derby://localhost:1527/labprog-db"/>
      <property name="eclipselink.jdbc.user" value="APP"/>
      <property name="eclipselink.jdbc.password" value="APP"/>
      <property name="eclipselink.logging.level" value="SEVERE" />
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
    </properties>
  
  </persistence-unit>
</persistence>