<div *ngIf="cliente">
    <h2>Artículos Pedido</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label for="name">Cliente:</label>
            <input [(ngModel)]="cliente.razonSocial" name="razonSocial" class="form-control" minlength="3"
                maxlength="40" readonly />
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Pedido</th>
                            <th>Entregado</th>
                            <th></th>
                            <th>Remito</th>
                            <th></th>
                            <th>Factura</th>
                            <th></th>
                            <th>Fecha Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulosPedido of resultsPage.results; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ articulosPedido.articulo.codigo }}</td>
                            <td>{{ articulosPedido.articulo.nombre }}</td>
                            <td>{{ articulosPedido.pedido.id }}</td>
                            <td
                                *ngIf="articulosPedido.remito != null && articulosPedido.remito.entregado == true; else other_content">
                                SI</td>
                            <td>
                                <ng-template #other_content>NO</ng-template>
                            </td>
                            <td *ngIf="articulosPedido.remito; else other_content">{{ articulosPedido.remito.id }}</td>
                            <td>
                                <ng-template #other_content>NO</ng-template>
                            </td>
                            <td *ngIf="articulosPedido.factura; else other_content">{{ articulosPedido.factura.id }}
                            </td>
                            <td>
                                <ng-template #other_content>NO</ng-template>
                            </td>
                            <td
                                *ngIf="articulosPedido.factura && articulosPedido.factura.fechaPago; else other_content1">
                                {{ articulosPedido.factura.fechaPago }}</td>
                            <td>
                                <ng-template #other_content1>Sin abonar</ng-template>
                            </td>
                            <th>
                                <a routerLink="/pedidos/{{articulosPedido.pedido.id}}/"><i class="fa fa-eye fa-fw"
                                        title="Detalle pedido"></i></a>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" [hidden]="resultsPage.count <= 1">
                    <ul class="pagination pagination-centered">
                        <li class="page-item">
                            <a class="page-link" (click)="showPage(-2)">&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
                        </li>
                        <li *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
                            <a class="page-link" (click)="showPage(t + 1)"> {{t+1}} </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" (click)="showPage(-4)">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <button (click)="goBack()" class="btn" style="border-color: black;"
            style="background-color: grey;">Atrás</button>
    </form>
    &nbsp;&nbsp;&nbsp;
</div>