<div *ngIf="localidad">
    <h2>Detalles localidad{{ uppercase }}</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input [(ngModel)]="localidad.nombre" name="localidad" placeholder="Localidad" class="form-control"
                minlength="4" maxlength="20" required />
        </div>
        <div class="form-group">
            <label for="name">Código Postal:</label>
            <input [(ngModel)]="localidad.cp" name="cp" placeholder="Código Postal" class="form-control" minlength="3"
                maxlength="10" title="Solo números. Tamaño mínimo: 3. Tamaño máximo: 10" pattern="[0-9]+"  required />
        </div>
        <div class="form-group">
            <label for="name">Provincia:</label>
            <input [(ngModel)]="localidad.provincia" name="provincia" placeholder="Provincia" class="form-control"
                minlength="4" maxlength="20" required [ngbTypeahead]="searchProvincia" [editable]="false"
                [resultFormatter]="resultFormat" [inputFormatter]="inputFormat" />
        </div>
        <button (click)="goBack()" class="btn" style="border-color: black;"
            style="background-color: grey;">Atrás</button>
        &nbsp;
        <button (click)="save()" [disabled]="!form.valid" class="btn" style="border-color: black;" style="
            background-color: lightsteelblue;">Guardar</button>
    </form>
</div>